.center{
  margin:auto;
  width: fit-content;
  padding: 10px;
}

.parallax {
  /* The image used in background*/
  background-image: url("top.jpg");

  /* Set a specific height */
  min-height: 400px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
}

body {
  background-image: url('bg.png');
  text-align: center;
}

